
        <form action="/Categoria/Adiciona" method="post">
            <label for="nome">nome</label><br />
            <input id="nome" name="Nome" /><br /><br />

            <label for="descricao">descricao</label><br />
            <input id="descricao" name="Descricao" /><br /><br />
                        
            <input type="submit" value="Cadastrar" />


        </form>
    
