
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Form</title>
</head>
<body>
    <div> 
        <form action="/Categoria/Adiciona" method="post">
            <label for="nome">nome</label><br />
            <input id="nome" name="Nome" /><br /><br />

            <label for="descricao">descricao</label><br />
            <input id="descricao" name="Descricao" /><br /><br />
                        
            <input type="submit" value="Cadastrar" />


        </form>
    </div>
</body>
</html>
